
html {
  background: #f7f7f7;
}

h1 {
  margin-top: 0;
}
.date{
	padding: 16px;
	border-top: solid 1px #ddd;
	text-align:center;
}
.card-list {
  width: 700px;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 1px;
  margin: 0 auto;
  margin-top: -300px;
}
.cards {
  padding: 16px;
  border-top: solid 1px #ddd;
}
.cards > .card {
  border-radius: 4px;
  padding: 16px;
  border: 1px solid grey;
  margin-bottom: 16px;
  background: white;
}
.cards > .-ochre {
  border-left: 5px solid #F69A00;
}
.cards > .-date {
	border:1px;
}
.image{
	display:block;
	float:left;
	margin-right:20px;
}
.menu{
  display: block;
	clear:both;
}
.current{
	background: #444;
	color: #fff;
}
h5{
	font-size:18px;
}
submit{
	background-color: #444;
}
